<div class="row">
    <div class="col-line">
        <table>
            <tr>
                <th>Cliente</th>
                <th>CIF</th>
                <th>Localidad</th>
            </tr>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.nombre}}</td>                
                <td>{{cliente.cif}}</td>                
                <td>{{cliente.localidad}}</td>                
            </tr>
        </table>
    </div>
</div>
<div class="card">Numero clientes(tabla): {{getNumeroClientes()}}</div>
